@model DapperDinner.Models.PagedList<DapperDinner.Models.Dinner>
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
<ul id="Details" data-role="listview" data-inset="true">
    @if (Model == null || Model.Count == 0)
    {
        <li>No Nerd Dinners found!</li>
    }
    else
    {
        foreach (var dinner in Model)
        {
        <li><a href="@Url.RouteUrl("PrettyDetails", new { Id = dinner.DinnerID })">
            @dinner.EventDate.ToString("MMM dd") @HttpUtility.HtmlEncode(dinner.Description)
        </a></li> 
        }
    }
</ul>
